 /*    5. CONTENT SECTION
 =============================================================================  */
*{

}
.inner-header {
background-color:#ffffff;
padding:20px 0
}

.inner-title {
color:black;
line-height:100%;
margin-bottom:0;
text-transform:capitalize
}

.content {
padding:60px 0
}
#content2 {
padding:60px 0
}

.content.space-top-none {
margin-top:0;
padding-top:0
}

.content.space-bottom-none {
margin-bottom:0;
padding-bottom:0
}
#content {
padding:60px 0
}

#content.space-top-none {
margin-top:0;
padding-top:0
}

#content.space-bottom-none {
margin-bottom:0;
padding-bottom:0
}


.form-block label {
width:200px;
font-weight:lighter
}
.form-block {
margin-bottom:10px
}
.form-block label {
width:200px;
font-weight:lighter
}
.form-block input,.form-block select,.beta-form-checkout textarea {
width:100%
}


.contact-form textarea {
width:100%
}
.beta-form-checkout textarea {
height:140px
}
.space20 {
line-height:8px
}

/* ==========================================================================
    6. SHOP SECTION
============================================================================= */

.your-order {
border:1px solid #e8e8e8;
padding-bottom:35px
}

.your-order>.your-order-head:first-child {
border-top:none
}

.your-order .beta-btn {
background-color:#3a5c83;
color:#fff!important
}

.your-order .beta-btn i {
color:#fff!important
}

.your-order-head {
height:55px;
background-color:#f8f8f8;
padding:0 40px;
border-top:1px solid #e8e8e8;
border-bottom:1px solid #e8e8e8
}

.your-order-head h5 {
font-size:24px;
color:#484747;
line-height:55px
}

.your-order-body {
padding:30px 40px
}

.your-order-item {
padding:10px 0;
border-bottom:1px solid #f8f8f8
}

.your-order-item.pbn {
padding-bottom:0
}

.your-order-item:last-child {
padding-bottom:0;
border-bottom:0
}

.your-order-body h5 {
margin-top:-10px
}

.your-order-info {
display:block;
margin-top:-5px;
margin-bottom:-2px
}

.payment_methods li {
margin-bottom:10px
}

.payment_methods li label {
font-size:15px;
color:#000
}

.payment_box {
background:#f8f8f8;
margin-left:17px;
margin-top:20px;
margin-bottom:30px;
padding:20px
}

.your-order-f18 {
font-size:18px;
margin-bottom:20px
}

.star-rating {
float:right;
overflow:hidden;
position:relative;
height:1em;
line-height:1em;
font-size:1em;
width:5.4em;
font-family:'star'
}

.beta-btn.primary {
color:#606366;
padding:10px 20px;
line-height:100%
}

.beta-btn.primary:hover {
color:#fff;
background:#3a5c83
}

.beta-btn.primary i {
font-size:10px;
padding-left:5px;
color:#f90
}

input[type="text"],input[type="email"],input[type="url"],textarea {
width:100%;
border:1px solid #e1e1e1;
height:37px;
padding:0 12px
}

